body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.display-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width1{
    width: 70%;
}
.half-width2{
    width: 40%;
    padding-left: 200px;
}
.orange{
    color: orange;
}
a{
    text-decoration: none;
}
.button{
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
}
.half-width p{
    margin-bottom: 60px;
}
.back-sec{
    background-image: url(images/shapes/7.png);
}